@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>My Hobbies</h1>
<ol>
    <li>Painting</li>
    <li>Playing with my cats</li>
    <li>Playing games</li>
    <li>Listening to music</li>
</ol>
